In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('C:\\Users\\bisho\\OneDrive\\Documents\\DATA3400\\Final Project\\nbaplayersdraft.csv')

In [16]:
data['NBA Champion']=''

In [24]:
NBA_Champs=['DET','DET','CHI','CHI','CHI','HOU','HOU','CHI','CHI','CHI','SAS', 'LAL','LAL','LAL','SAS','DET','SAS','MIA','SAS','BOS','LAL','LAL', 'DAL','MIA','MIA','SAS','GSW','CLE','GSW','GSW','TOR','LAL','MIL']
len(NBA_Champs)
display(NBA_Champs[32])

'MIL'

In [25]:
for year in range(1989,2022):
    i= year-1989
    data.loc[data.year==year, 'NBA Champion']=NBA_Champs[i]

In [19]:
display(data)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,year,rank,overall_pick,team,player,college,...,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement,NBA Champion
0,0,0,0,1,1989,1,1,SAC,Pervis Ellison,Louisville,...,0.689,24.5,9.5,6.7,1.5,21.8,0.090,-0.5,4.4,DET
1,1,1,1,2,1989,2,2,LAC,Danny Ferry,Duke,...,0.840,19.8,7.0,2.8,1.3,34.8,0.092,-0.9,4.9,DET
2,2,2,2,3,1989,3,3,SAS,Sean Elliott,Arizona,...,0.799,33.0,14.2,4.3,2.6,55.7,0.109,0.2,13.5,DET
3,3,3,3,4,1989,4,4,MIA,Glen Rice,Michigan,...,0.846,35.0,18.3,4.4,2.1,88.7,0.122,0.8,24.9,DET
4,4,4,4,5,1989,5,5,CHH,J.R. Reid,UNC,...,0.716,22.9,8.5,5.0,1.0,22.5,0.070,-2.9,-3.7,DET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1917,1917,1917,1917,1918,2021,56,56,CHO,Scottie Lewis,Florida,...,0.500,3.5,0.5,0.0,0.5,0.0,0.164,6.0,0.0,
1918,1918,1918,1918,1919,2021,57,57,CHO,Balša Koprivica,Florida State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1919,1919,1919,1919,1920,2021,58,58,NYK,Jericho Sims,Texas,...,0.414,13.5,2.2,4.1,0.5,1.5,0.128,-1.7,0.0,
1920,1920,1920,1920,1921,2021,59,59,BRK,RaiQuan Gray,Florida State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1921,1921,1921,1921,1922,2021,60,60,IND,Georgios Kalaitzakis,NaN,...,0.467,16.5,6.6,1.6,0.9,-0.1,-0.024,-7.0,-0.3,

In [7]:
#data.to_csv('C:\\Users\\bisho\\OneDrive\\Documents\\DATA3400\\Datasets\\nbaplayersdraft.csv')

In [86]:
record=pd.read_csv('C:\\Users\\bisho\\OneDrive\\Documents\\DATA3400\\Datasets\\NBA_Records.csv')
df=pd.DataFrame()
team=list(record.columns)
season=range(1989,2022)
df['Season'] = pd.DataFrame(np.repeat(season, 30, axis=0))
display(df)
team=team[3:]

     Season
0      1989
1      1989
2      1989
3      1989
4      1989
..      ...
985    2021
986    2021
987    2021
988    2021
989    2021

[990 rows x 1 columns]

In [87]:
len(team)

30

Empty DataFrame
Columns: []
Index: []

In [94]:
row=record.loc[0, :].values.flatten().tolist()
display(row[3:])

[43,
 51,
 44,
 46,
 43.0,
 44,
 52,
 48,
 23,
 53,
 20,
 25,
 42,
 33,
 56.0,
 53,
 51,
 46,
 36.0,
 37,
 24,
 22,
 51,
 64,
 27,
 30,
 34,
 48.0,
 49,
 35]

In [88]:
teams=list()
for i in range(33):
    teams=teams+team
display(teams)

['ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS',
 'ATL',
 'BOS',
 'BRK',
 'CHI',
 'CHO',
 'CLE',
 'DAL',
 'DEN',
 'DET',
 'GSW',
 'HOU',
 'IND',
 'LAC',
 'LAL',
 'MEM',
 'MIA',
 'MIL',
 'MIN',
 'NOP',
 'NYK',
 'OKC',
 'ORL',
 'PHI',
 'PHO',
 'POR',
 'SAC',
 'SAS',
 'TOR',
 'UTA',
 'WAS']

In [95]:
len(row)

33

In [90]:
df['Teams']=teams
display(df)

     Season Teams
0      1989   ATL
1      1989   BOS
2      1989   BRK
3      1989   CHI
4      1989   CHO
..      ...   ...
985    2021   SAC
986    2021   SAS
987    2021   TOR
988    2021   UTA
989    2021   WAS

[990 rows x 2 columns]

In [5]:
records=list()
for i in range(33):
    row_list = record.loc[i, :].values.flatten().tolist()
    row_list=row_list[3:]
    records=row_list+records
display(records)

NameError: name 'record' is not defined

[31,
 55,
 nan,
 56,
 23,
 59,
 54,
 53,
 18,
 41,
 45,
 nan,
 22,
 44,
 18,
 nan,
 63,
 30,
 42,
 41,
 37,
 59,
 43,
 47,
 42,
 19.0,
 55,
 17,
 52,
 41,
 30,
 54,
 nan,
 55,
 25,
 63,
 55,
 44,
 31,
 41,
 39,
 nan,
 29,
 48,
 24,
 nan,
 58,
 31,
 41,
 52,
 44,
 50,
 20,
 28,
 33,
 26.0,
 61,
 26,
 56,
 43,
 25,
 55,
 nan,
 47,
 29,
 57,
 53,
 35,
 21,
 47,
 51,
 nan,
 15,
 31,
 38,
 nan,
 43,
 45,
 40,
 42,
 55,
 48,
 24,
 22,
 57,
 31.0,
 67,
 40,
 51,
 38,
 22,
 47,
 nan,
 49,
 25,
 51,
 62,
 26,
 41,
 55,
 60,
 nan,
 19,
 28,
 36,
 nan,
 39,
 41,
 41,
 55,
 34,
 40,
 36,
 11,
 54,
 44.0,
 57,
 43,
 48,
 43,
 24,
 53,
 nan,
 55,
 28,
 47,
 56,
 25,
 50,
 63,
 57,
 nan,
 20,
 20,
 42,
 nan,
 33,
 27,
 47,
 58,
 50,
 20,
 42,
 13,
 47,
 41.0,
 55,
 45,
 32,
 57,
 21,
 60,
 nan,
 62,
 39,
 44,
 59,
 24,
 57,
 57,
 55,
 nan,
 21,
 34,
 32,
 nan,
 48,
 17,
 52,
 47,
 26,
 28,
 41,
 36,
 43,
 50.0,
 47,
 30,
 35,
 42,
 39,
 55,
 21.0,
 59,
 39,
 44,
 41,
 18,
 60,
 64,
 47,
 nan,
 26,
 25,
 42,
 15.0,
 53,
 29,
 52,
 48,
 36,
 46,
 35,
 26,
 47,
 41.0,
 72,
 30,
 33,
 46,
 44,
 64,
 30.0,
 20,
 34,
 49,
 40,
 22,
 45,
 57,
 57,
 nan,
 40,
 33,
 61,
 14.0,
 56,
 36,
 39,
 57,
 30,
 54,
 21,
 24,
 42,
 54.0,
 69,
 26,
 15,
 56,
 42,
 62,
 16.0,
 56,
 27,
 46,
 56,
 31,
 41,
 61,
 43,
 nan,
 45,
 36,
 55,
 19.0,
 61,
 17,
 58,
 41,
 19,
 37,
 11,
 20,
 47,
 51.0,
 62,
 43,
 36,
 50,
 18,
 37,
 23.0,
 37,
 27,
 35,
 27,
 28,
 33,
 25,
 27,
 nan,
 25,
 28,
 33,
 8.0,
 31,
 9,
 33,
 31,
 21,
 29,
 14,
 19,
 22,
 26.0,
 13,
 16,
 19,
 31,
 29,
 55,
 45.0,
 53,
 44,
 59,
 53,
 49,
 41,
 45,
 50,
 nan,
 50,
 42,
 52,
 22.0,
 67,
 15,
 56,
 34,
 19,
 42,
 35,
 40,
 32,
 49.0,
 17,
 31,
 35,
 28,
 19,
 53,
 47.0,
 58,
 55,
 50,
 51,
 56,
 43,
 44,
 48,
 nan,
 47,
 52,
 50,
 23.0,
 56,
 31,
 41,
 45,
 17,
 32,
 40,
 53,
 30,
 46.0,
 15,
 26,
 36,
 25,
 37,
 44,
 42.0,
 58,
 61,
 49,
 36,
 43,
 44,
 45,
 30,
 nan,
 50,
 41,
 36,
 23.0,
 58,
 39,
 42,
 28,
 21,
 50,
 27,
 57,
 29,
 44.0,
 21,
 52,
 49,
 33,
 37,
 47,
 24.0,
 60,
 59,
 50,
 44,
 48,
 42,
 40,
 37,
 47.0,
 51,
 42,
 25,
 28.0,
 50,
 27,
 48,
 43,
 38,
 50,
 17,
 60,
 17,
 nan,
 30,
 49,
 44,
 35,
 25,
 42,
 33.0,
 57,
 55,
 41,
 29,
 33,
 21,
 37,
 39,
 41.0,
 58,
 41,
 42,
 50.0,
 56,
 28,
 61,
 45,
 37,
 54,
 43,
 52,
 35,
 nan,
 23,
 47,
 36,
 28,
 45,
 26,
 33.0,
 59,
 50,
 27,
 62,
 43,
 36,
 52,
 33,
 18.0,
 44,
 30,
 59,
 45.0,
 34,
 37,
 44,
 51,
 34,
 54,
 49,
 58,
 42,
 18.0,
 47,
 42,
 45,
 13,
 42,
 41,
 27.0,
 63,
 44,
 21,
 54,
 38,
 36,
 35,
 23,
 38.0,
 33,
 40,
 52,
 49.0,
 45,
 47,
 41,
 34,
 34,
 64,
 44,
 60,
 50,
 26.0,
 41,
 49,
 33,
 26,
 41,
 51,
 47.0,
 58,
 33,
 32,
 61,
 35,
 40,
 31,
 33,
 39.0,
 32,
 28,
 44,
 22.0,
 42,
 40,
 35,
 52,
 42,
 53,
 45,
 67,
 50,
 33.0,
 49,
 41,
 24,
 30,
 43,
 54,
 41.0,
 56,
 38,
 41,
 55,
 40,
 52,
 20,
 23,
 56.0,
 22,
 26,
 15,
 22.0,
 57,
 23,
 36,
 55,
 48,
 59,
 50,
 51,
 45,
 32.0,
 33,
 34,
 66,
 37,
 19,
 48,
 33.0,
 54,
 17,
 54,
 46,
 41,
 59,
 23,
 32,
 49.0,
 24,
 34,
 43,
 24.0,
 65,
 19,
 36,
 53,
 29,
 39,
 54,
 50,
 66,
 35.0,
 41,
 34,
 62,
 47,
 26,
 53,
 40.0,
 50,
 25,
 50,
 54,
 27,
 59,
 50,
 29,
 37.0,
 15,
 46,
 47,
 40.0,
 57,
 29,
 32,
 42,
 26,
 27,
 53,
 55,
 61,
 44.0,
 41,
 12,
 50,
 53,
 23,
 39,
 22.0,
 61,
 24,
 48,
 40,
 41,
 52,
 55,
 42,
 46.0,
 17,
 35,
 58,
 46.0,
 57,
 32,
 37,
 43,
 36,
 30,
 50,
 57,
 19,
 34.0,
 62,
 24,
 56,
 44,
 20,
 36,
 23.0,
 50,
 22,
 28,
 33,
 35,
 37,
 47,
 36,
 21.0,
 26,
 31,
 46,
 41.0,
 41,
 40,
 42,
 34,
 23,
 25,
 38,
 36,
 21,
 7.0,
 50,
 22,
 39,
 40,
 29,
 43,
 34.0,
 58,
 28,
 33,
 25,
 34,
 20,
 60,
 54,
 27.0,
 31,
 38,
 66,
 56.0,
 45,
 56,
 49,
 45,
 47,
 29,
 57,
 41,
 24,
 21.0,
 45,
 49,
 41,
 44,
 44,
 25,
 48.0,
 62,
 28,
 54,
 48,
 19,
 23,
 59,
 37,
 34.0,
 40,
 15,
 54,
 50.0,
 27,
 57,
 56,
 54,
 51,
 29,
 36,
 49,
 33,
 43.0,
 48,
 44,
 25,
 38,
 46,
 38,
 49.0,
 55,
 29,
 51,
 39,
 18,
 25,
 45,
 17,
 45.0,
 16,
 41,
 37,
 55.0,
 21,
 56,
 38,
 56,
 67,
 32,
 30,
 50,
 53,
 33.0,
 50,
 38,
 40,
 60,
 41,
 40,
 56.0,
 67,
 33,
 44,
 23,
 10,
 35,
 55,
 32,
 30.0,
 29,
 33,
 48,
 42.0,
 17,
 53,
 45,
 41,
 73,
 44,
 33,
 42,
 57,
 48.0,
 42,
 21,
 48,
 48,
 49,
 51,
 51.0,
 61,
 32,
 41,
 24,
 28,
 29,
 47,
 31,
 34.0,
 31,
 42,
 41,
 43.0,
 26,
 51,
 42,
 55,
 67,
 37,
 40,
 33,
 51,
 36.0,
 41,
 20,
 53,
 43,
 43,
 48,
 59.0,
 47,
 27,
 49,
 21,
 52,
 25,
 48,
 29,
 48.0,
 47,
 44,
 44,
 22.0,
 35,
 42,
 48,
 65,
 58,
 39,
 46,
 24,
 50,
 36.0,
 27,
 28,
 55,
 24,
 32,
 50,
 58.0,
 48,
 39,
 53,
 19,
 51,
 42,
 49,
 17,
 33.0,
 36,
 60,
 39,
 33.0,
 37,
 48,
 48,
 53,
 57,
 41,
 54,
 33,
 19,
 39.0,
 22,
 42,
 49,
 29,
 25,
 44,
 53.0,
 32,
 31,
 35,
 34,
 43,
 33,
 44,
 21,
 30.0,
 19,
 56,
 44,
 34.0,
 52,
 49,
 45,
 44,
 15,
 20,
 46,
 43,
 19,
 23.0,
 22,
 35,
 48,
 20,
 34,
 52,
 27.0,
 33,
 31,
 42,
 51,
 49,
 21,
 22,
 41,
 31.0,
 23,
 46,
 40,
 38.0,
 42,
 47,
 34,
 17,
 39,
 20,
 47,
 42,
 22,
 33.0,
 31,
 48,
 36,
 41,
 35,
 49,
 48.0,
 34,
 30,
 27,
 64,
 51,
 22,
 24,
 37,
 36.0,
 46,
 51,
 53,
 56.0,
 33,
 42,
 25,
 20,
 53,
 23,
 48,
 52,
 44,
 43.0,
 46,
 44,
 51,
 43]

In [109]:
df['Wins']=records
display(df)

     Season Teams  Wins
0      1989   ATL  41.0
1      1989   BOS  52.0
2      1989   BRK  17.0
3      1989   CHI  55.0
4      1989   CHO  19.0
..      ...   ...   ...
985    2021   SAC  30.0
986    2021   SAS  34.0
987    2021   TOR  48.0
988    2021   UTA  49.0
989    2021   WAS  35.0

[990 rows x 3 columns]

In [110]:
#df.to_csv('C:\\Users\\bisho\\OneDrive\\Documents\\DATA3400\\Datasets\\TeamWins.csv')

In [6]:
ap=[]
for year in (1995,2022):
    for i in range(5):
        pick=data.loc(data.year==year-i,data.overall_pick)
        display(type(pick))

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
#Average pick for a team over five years starting 3 years prior 
data['AveragePick3']
#Average pick for a team over last five years
data['AveragePick']